<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: head(pagina='Index')"></head>
<body>
	<header th:replace="fragments/navbar :: navbar"></header>
	
	<main class="section">
		<div class="columns">
			<div class="column">
				<div th:replace="fragments/action-messages :: erros-formulario"></div>
				<form th:action="@{/categoria/salvar}" method="POST" th:object="${categoria}">
					<input type="hidden" th:field="*{id}" />
					
					<div class="field">
						<label class="label" for="nome">Nome da categoria:</label>
						<div class="control">
							<input class="input" type="text" placeholder="Nome da categoria..." th:field="*{nome}" />
						</div>
					</div>
					
					<button class="button is-link mt-5 is-medium" type="submit" role="button">SALVAR</button>
				</form>
			</div>
		</div>
	</main>
	
	<th:block th:replace="fragments/config :: scripts"></th:block>
</body>
</html>