<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: head(pagina='Index')"></head>
<body>
	<header th:replace="fragments/navbar :: navbar"></header>
	
	<main class="section">
		<table class="table is-striped is-fullwidth">
			<thead>
				<tr>
					<th>Categoria</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="categoria : ${categorias}">
					<tr>
						<td>[[${categoria.getNome()}]]</td>
						<td>
							<a th:onclick="openModal([[${categoria.getId()}]])" title="Ver informações">
								<i class="fas fa-search"></i>
							</a>
							<a th:href="@{|/categoria/editar/${categoria.getId()}|}" class="ml-6 is-hidden-mobile" title="Editar">
								<i class="fas fa-pen"></i>
							</a>
							<a th:href="@{|/categoria/deletar/${categoria.getId()}|}" class="ml-6 is-hidden-mobile" title="Deletar">
								<i class="fas fa-trash"></i>
							</a>
							<div class="modal" th:id="|modal-${categoria.getId()}|">
								<div class="modal-background" th:onclick="closeModal([[${categoria.getId()}]])"></div>
								<div class="modal-card">
									<header class="modal-card-head">
										<p class="modal-card-title">[[${categoria.getNome()}]]</p>
										<button class="delete" th:onclick="closeModal([[${categoria.getId()}]])" aria-label="close"></button>
									</header>
									<section class="modal-card-body">
										<ul>
											<li>Identificador: [[${categoria.getId()}]]</li>
											<li>Nome: [[${categoria.getNome()}]]</li>
										</ul>
									</section>
									<footer class="modal-card-foot">
										<a class="button is-link" th:href="@{|/categoria/editar/${categoria.getId()}|}">
											<i class="mr-3 fas fa-pen"></i> Editar
										</a>
										<a class="button is-danger" th:href="@{|/categoria/deletar/${categoria.getId()}|}">
											<i class="mr-3 fas fa-trash"></i> Deletar
										</a>
									</footer>
								</div>
							</div>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
		<nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">
			<a th:if="${categorias.getNumber() > 0}" th:href="@{|/categoria/listar?page=${categorias.getNumber() - 1}|}" class="pagination-previous">
				Voltar
			</a>
			<a th:if="${categorias.getNumber() < categorias.getTotalPages() - 1}" 
				th:href="@{|/categoria/listar?page=${categorias.getNumber() + 1}|}" 
				class="pagination-next">
				Avançar
			</a>
			<ul class="pagination-list">
				<li>
					<a th:href="@{/categoria/listar?page=0}" class="pagination-link">Início</a>
				</li>
				<li>
					<a th:if="${categorias.getNumber() > 1}" 
						th:href="@{|/categoria/listar?page=${categorias.getNumber() - 2}|}"
						class="pagination-link">
						[[${categorias.getNumber() - 1}]]
					</a>
				</li>
				<li>
					<a th:if="${categorias.getNumber() > 0}" 
						th:href="@{|/categoria/listar?page=${categorias.getNumber() - 1}|}"
						class="pagination-link">
						[[${categorias.getNumber()}]]
					</a>
				</li>
				<li>
					<a class="pagination-link is-current">[[${categorias.getNumber() + 1}]]</a>
				</li>
				<li>
					<a th:if="${categorias.getNumber() < categorias.getTotalPages() - 1}" 
						th:href="@{|/categoria/listar?page=${categorias.getNumber() + 1}|}" 
						class="pagination-link">
						[[${categorias.getNumber() + 2}]]
					</a>
				</li>
				<li>
					<a th:if="${categorias.getNumber() < categorias.getTotalPages() - 2}" 
						th:href="@{|/categoria/listar?page=${categorias.getNumber() + 2}|}" 
						class="pagination-link">
						[[${categorias.getNumber() + 3}]]
					</a>
				</li>
				<li>
					<a th:href="@{|/categoria/listar?page=${categorias.getTotalPages() - 1}|}" class="pagination-link">Fim</a>
				</li>
			</ul>
		</nav>
	</main>
	
	<th:block th:replace="fragments/config :: scripts"></th:block>
</body>
</html>