<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: head(pagina='Lista de categorias')"></head>
<body>
	<header th:replace="fragments/navbar :: navbar"></header>
	
	<main class="section">
		<div th:replace="fragments/action-messages :: erro-nao-encontrado"></div>
		<div th:replace="fragments/action-messages :: sucesso"></div>
		<form th:action="@{/categoria/listar}">			
			<div class="field">
				<label class="label" for="busca">Nome da categoria:</label>
				<div class="control">
					<input class="input" type="text" placeholder="Nome da categoria..." name="busca" />
				</div>
			</div>
			
			<button class="button is-link mt-2 mb-5" type="submit" role="button">PESQUISAR</button>
		</form>
		
		<table class="table is-striped is-fullwidth">
			<thead>
				<tr>
					<th>Categoria</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="categoria : ${categorias}">
					<tr>
						<td>[[${categoria.getNome()}]]</td>
						<td>
							<a th:onclick="openModal([[${categoria.getId()}]])" title="Ver informações">
								<i class="fas fa-search"></i>
							</a>
							<a th:href="@{|/categoria/editar/${categoria.getId()}|}" class="ml-6 is-hidden-mobile" title="Editar">
								<i class="fas fa-pen"></i>
							</a>
							<a th:href="@{|/categoria/deletar/${categoria.getId()}|}"
								 class="ml-6 is-hidden-mobile" title="Deletar"
								 th:confirm-delete="|Deseja deletar a categoria ${categoria.getNome()}?|"
								 onclick="return confirm(this.getAttribute('confirm-delete'));">
								<i class="fas fa-trash"></i>
							</a>
							<div class="modal" th:id="|modal-${categoria.getId()}|">
								<div th:replace="fragments/modal :: modal-background(id=${categoria.getId()})"></div>
								<div class="modal-card">
									<header th:replace="fragments/modal :: modal-header(id=${categoria.getId()}, titulo=${categoria.getNome()})"></header>
									<section class="modal-card-body">
										<ul>
											<li>Identificador: [[${categoria.getId()}]]</li>
											<li>Nome: [[${categoria.getNome()}]]</li>
										</ul>
									</section>
									<footer 
										th:replace="fragments/modal :: modal-footer(id=${categoria.getId()}, 
											baseUrl='categoria', 
											confirmDeleteText='Deseja deletar a categoria ' + ${categoria.getNome()} + '?')">
									</footer>
								</div>
							</div>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
		<nav th:replace="fragments/paginacao :: paginacao(lista=${categorias}, objeto='categoria')"></nav>
	</main>
	
	<th:block th:replace="fragments/config :: scripts"></th:block>
</body>
</html>