<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: head(pagina='Index')"></head>
<body>
	<header th:replace="fragments/navbar :: navbar"></header>
	
	<main class="section">
		<table class="table is-striped is-fullwidth">
			<thead>
				<tr>
					<th>Categoria</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="i: ${#numbers.sequence(1, 5)}">
					<tr>
						<td>Ficção Científica</td>
						<td>
							<a th:href="@{/locacao/ver/1}">
								<i class="fas fa-search"></i>
							</a>
							<a th:href="@{/locacao/editar/1}" class="ml-6">
								<i class="fas fa-pen"></i>
							</a>
							<a th:href="@{/locacao/deletar/1}" class="ml-6">
								<i class="fas fa-trash"></i>
							</a>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</main>
	
	<th:block th:replace="fragments/config :: scripts"></th:block>
</body>
</html>