<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org">
	
	<header th:fragment="navbar">
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" th:href="@{/}">Spring Videolocadora</a>
				
				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
			
			<div class="navbar-menu" id="navbar-menu">
				<div class="navbar-start">
					<a class="navbar-item" th:href="@{/}">
						Home
					</a>
					
					<div th:replace="this :: dropdown-menu(objeto='Cliente')"></div>
					
					<div th:replace="this :: dropdown-menu(objeto='Categoria')"></div>
					
					<div th:replace="this :: dropdown-menu(objeto='Filme')"></div>
					
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							Locações
						</a>
						
						<div class="navbar-dropdown">
							<a class="navbar-item" th:href="@{/locacao/cadastrar}">
								Cadastrar locação
							</a>
							<a class="navbar-item" th:href="@{/locacao/listar}">
								Listar Locações
							</a>
						</div>
					</div>
				</div>
				
				<div class="navbar-end">
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							<i class="fa fa-user-circle"></i> <span class="is-hidden-desktop">Perfil</span>
						</a>
						
						<div class="navbar-dropdown is-right">
							<span class="navbar-item" th:text="|Logado como: ${#authentication.name}|"></span>
							<form class="navbar-item" method="POST" th:action="@{/logout}">
								<button class="button is-danger is-fullwidth" type="submit" role="button">
									Sair
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	
	<div th:fragment="dropdown-menu" class="navbar-item has-dropdown is-hoverable">
		<a class="navbar-link">
			[[${objeto.concat("s")}]]
		</a>
		
		<div class="navbar-dropdown">
			<a class="navbar-item" th:href="@{|/${objeto.toLowerCase().concat('/cadastrar')}|}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_FUNCIONARIO')">
				Cadastrar [[${objeto}]]
			</a>
			<a class="navbar-item" th:href="@{|/${objeto.toLowerCase().concat('/listar')}|}">
				Listar [[${objeto.concat("s")}]]
			</a>
		</div>
	</div>
	
</html>