<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: head(pagina='Index')"></head>
<body>

	<div class="login-form">
		<form class="box" method="POST"
			th:action="@{/login}">
			<h1 class="title is-4">Faça o login antes de continuar:</h1>
	
			<article class="message is-danger" th:if="${param.keySet().contains('error')}">
				<div class="message-header">
					<p>
						Login e/ou senha inválidos!
					</p>
				</div>
			</article>
	
			<div class="field">
				<label class="label" for="login">Login:</label>
				<div class="control has-icons-left">
					<input class="input" type="text" placeholder="Login..." name="login" id="login" />
					<span class="icon is-small is-left" /> <i class="fas fa-user"></i>
				</div>
			</div>

			<div class="field">
				<label class="label" for="senha">Senha:</label>
				<div class="control has-icons-left">
					<input class="input" type="password" placeholder="Senha..." name="senha" id="senha" />
					<span class="icon is-small is-left" /> <i class="fas fa-lock"></i>
				</div>
			</div>

			<div class="buttons is-centered">
				<button type="submit" class="button is-link is-medium">Logar</button>
			</div>
		</form>
	</div>

</body>
</html>