<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: head(pagina='Lista de clientes')"></head>
<body>
	<header th:replace="fragments/navbar :: navbar"></header>
	
	<main class="section">
		<div th:replace="fragments/action-messages :: erro-nao-encontrado"></div>
		<div th:replace="fragments/action-messages :: sucesso"></div>
		
		<form th:action="@{/cliente/listar}">			
			<div class="field">
				<label class="label" for="busca">Nome, cpf ou telefone do cliente:</label>
				<div class="control">
					<input class="input" type="text" placeholder="Nome, cpf ou telefone do cliente..." name="busca" />
				</div>
			</div>
			
			<button class="button is-link mt-2 mb-5" type="submit" role="button">PESQUISAR</button>
		</form>
		
		<table class="table is-striped is-fullwidth">
			<thead>
				<tr>
					<th>Nome</th>
					<th>CPF</th>
					<th>Telefone</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="cliente : ${clientes}">
					<tr>
						<td>[[${cliente.getNome()}]]</td>
						<td>[[${cliente.getCpf()}]]</td>
						<td>[[${cliente.getTelefone()}]]</td>
						<td>
							<th:block th:replace="fragments/table-actions :: coluna-acoes(id=${cliente.getId()}, 
								baseUrl='cliente', 
								confirmDeleteText='Deseja deletar o(a) cliente ' + ${cliente.getNome()} + '?')">
							</th:block>
							<div class="modal" th:id="|modal-${cliente.getId()}|">
								<div th:replace="fragments/modal :: modal-background(id=${cliente.getId()})"></div>
								<div class="modal-card">
									<header th:replace="fragments/modal :: modal-header(id=${cliente.getId()}, titulo=${cliente.getNome()})"></header>
									<section class="modal-card-body">
										<h4 class="title is-4">Informações básicas:</h4>
										<ul class="mb-5">
											<li>Identificador: [[${cliente.getId()}]]</li>
											<li>Nome: [[${cliente.getNome()}]]</li>
											<li>CPF: [[${cliente.getCpf()}]]</li>
											<li>Telefone: [[${cliente.getTelefone()}]]</li>
										</ul>
										
										<h4 class="title is-4">Endereço:</h4>
										<ul>
											<li>CEP: [[${cliente.getEndereco().getCep()}]]</li>
											<li>Cidade: [[${cliente.getEndereco().getCidade()}]]</li>
											<li>Rua: [[${cliente.getEndereco().getRua()}]]</li>
											<li>Bairro: [[${cliente.getEndereco().getBairro()}]]</li>
											<li>Complemento: [[${cliente.getEndereco().getComplemento()}]]</li>
										</ul>
									</section>
									<footer 
										th:replace="fragments/modal :: modal-footer(id=${cliente.getId()}, 
											baseUrl='cliente', 
											confirmDeleteText='Deseja deletar o(a) cliente ' + ${cliente.getNome()} + '?')">
									</footer>
								</div>
							</div>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
		<nav th:replace="fragments/paginacao :: paginacao(lista=${clientes}, objeto='cliente')"></nav>
	</main>
	
	<th:block th:replace="fragments/config :: scripts"></th:block>
</body>
</html>